
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .ust{width: 100% }
    .ikinciIcerik{  width: 100%}
    .icerikSayifasi{width: 100% }
    .kutu{
        width: 84%;
        top: 132px;
        left: 29px;
        height: 280px;
        overflow: visible;
    }
    .profile-pic{
        width: 100px;
        height: 100px;
    }

    .button {width: 70px; height: 30px; font-size: 12px}
    .normalMi{width: 20px; height: 30px; font-size: 12px}
    .normalMi[about="hello"]{ width: 90px; height: 30px; font-size: 12px}

    .kisimler{
        width: 380px;
        float: none ;
        height: 300px;
        left:0.1px;
    }


    .fa-pinterest-square{display: none}
    .fa-vk{ display: none}
    .fa-youtube-square{display: none}.fa-soundcloud{display: none} .fa-tumblr-square{display: none}

    .yazi{
         font-size: 2rem;
         line-height: 1;
    }

     a{ font-size: 10px}

     .flex-container{
         width: 84%;
         height: 100%;
         display: flex;
         overflow: hidden;
         background-color: #eef6ff;
         flex-direction: column;
         padding: 10px;
         position: relative;
         top: -60px;
     }

     .flex-container .bolumlerWeb{
         width: 71%;
         height: 133px;
         position: relative;
         margin-left: 7px;
         left: 73px;
         top: -90px;
         margin-bottom: 37px;
     }

}
