html{
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 100%;
    background-color: #eef6ff;
    width: 100%;
    text-align: center
}

body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(77, 222, 208, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #939d9d;
    outline: 1px solid #2b79c7;
}

h1{display: block}

/*Start Sabit ust kisim*/
.ust{
    border-radius : 0px 0px 22px 22px ;
    background-color: #fff;
    top: -10px;
    position:fixed;
    box-sizing: inherit;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    width: 100%;
    border-bottom: 2px solid #37aa87;
    height: 3.5rem;
    z-index: 3;
    margin: 3%;
    margin-top: auto;
    margin: auto;
    -webkit-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    -moz-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    -ms-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    -o-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    box-shadow : 0px 10px 6px -6px rgba(119,119,119,1)
}
/*End Sabit ust kisim*/

/*Start uzun olan sayifa*/
.icerikSayifasi{
    position: relative;
    background-color: #eef6ff;
    margin-top: 5rem;

    width: 100%;
    z-index: 2;
    flex-grow:1;
    flex-shrink:0;
    padding:3rem 0
}
/*Start uzun olan sayifa*/

.ikinciIcerik {
    position: relative;
    background-color: #8c5aff;
    width: 100%;
    height: 545px;
    margin-top: 3.5rem;
    padding:3rem 0;
}

/*Start resim ve ozet icin genel bir kutu*/
.kutu{
    height: 400px;
    width: 600px;
    background-color: #eef6ff;
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.5);
    margin: auto;
    top:75px;
    right: auto;
    position: relative;
    padding: 15px;
}
/*Start resim ve ozet icin genel bir kutu*/

/*Start resmim*/
.profile-pic {
    border-radius: 140px;
    position: absolute;
    margin-left: -70px;
    bottom:350px;
    -webkit-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    -moz-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    -ms-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    -o-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
}
/*Start resmim*/


/*Start Ammar a ajah yazisi*/
.yazi{
    margin-top: 80px;
    font-size: 2.75rem;
    color: #363636;
    font-weight: 300;
    line-height: 1.125;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/*End Ammar a ajah yazisi*/

/*Start mugla sitki kocman uuu yazisi*/
.mugla{
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: -1.25rem;
    margin-bottom: 1.5rem;
    line-height: 1.25;
    box-sizing: inherit;
    text-align: center;
    text-rendering: optimizeLegibility;
    color:#1d2129;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/*End mugla sitki kocman uuu yazisi*/

.button, .normalMi{
    float: right;
    border-radius: 4px;
    background-color: #f1fff8;

    border: none;
    color: #0a212b;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 90px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px
}

.button a , .normalMi a{
    padding: 0;
    margin: 0;
    color: transparent;

}

.normalMi[about="hello"]{ width: 120px}

.normalMi:hover{
    border-bottom: 8px solid #9bffe2;
    border-radius : 5px 5px 5px 5px ;
    -webkit-box-shadow : 0px 15px 6px -6px rgba(119,119,119,1) ;
    -moz-box-shadow : 0px 15px 6px -6px rgba(119,119,119,1) ;
    -ms-box-shadow : 0px 15px 6px -6px rgba(119,119,119,1) ;
    -o-box-shadow : 0px 15px 6px -6px rgba(119,119,119,1) ;
    box-shadow : 0px 15px 6px -6px rgba(119,119,119,1)
}

.button span , .normalMi span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-weight: 300;
    line-height: 1.25;
    box-sizing: inherit;
    color:#4a4a4a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s
}

.button:hover span { padding-right: 25px  }

.normalMi:hover span {  padding-top: 10px}

.button:hover span:after , .normalMi:hover span:after {
    opacity: 1;
    right: 0
}

/*Start Buttonlari bu divin icine koydunm*/
.buttonlarinDivi{
    left:500px;
    width: 500px;
    height: 100%;
    margin: auto;
    position: absolute;
}
/*End Buttonlari bu divin icine koydunm*/

/*Start Iki tane tur button var, bu ikincisi*/
.button{
    margin-right: 20px;
    margin-left: 10px;
    box-shadow: none;
    border-radius: 3px;
    justify-content: center;
    padding-left: .75em;
    padding-right: .75em;
    text-align: center;
    border: 1px solid #dbdbdb;
    border-top-color: rgb(219, 219, 219);
    border-right-color: rgb(219, 219, 219);
    border-bottom-color: rgb(219, 219, 219);
    border-left-color: rgb(219, 219, 219);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-repeat: initial;
    display: inline-flex;
    white-space: nowrap;
    line-height: 1.5;
}
/*End Iki tane tur button var, bu ikincisi*/

p{
    padding:-20px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    color: #4a4a4a;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a{
    padding: 10px;
    margin-bottom: 20px;
    color:skyblue
}



a [class="fa fa-facebook-square fa-4x"]{color: blue}

a:hover{color: #000}

/*Beginner - Inter - Ad - Exp*/
.kisimler{
    width: 930px;
    height: 190px;

    margin: auto;
    position: relative;
    padding: 10px;
    top: 100px;
    background-color: white;
}
.kisimler ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    font-family: "Helvetica Neue", Helvetica, "Sans-serif", serif;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 20px 0 0 0;
}
.kisimler ul li{
    list-style-type: none;
    text-align: left;
    height: 17px;
    margin: 0 10px 0 0;
    padding-right: 10px;
    font-style: italic;
    font-family: Georgia;
    font-weight: bold;
    font-size: 11px;
    display: list-item;
    line-height: 1.5em;
}
.kisimler ul li:after{
    background: url(/dash.jpg) no-repeat 100% 50%;
    width: 6px;
    height:10px;
    margin: auto;
}
/*End Beginner - Inter - Ad - Exp*/

/*Start web Dev.. */
.data .js .html .asp. .sass .dilc .sharp .java .python .prject .human{
    float: left;
    width: 20px;
    display: table-cell;
    vertical-align: bottom;
    font-style: italic;
    font-size: 11px;
    line-height: 1.5em;
    height: 70px;
    margin: -70px 10px 100px 120px;
    padding: 0px;
    background-color: #ea2d83;
}
.data label ,.js label,.html label,.asp label,.sass label, .dilc label, .sharp label, .python label, .java label, .prject label, .human label{
    float: none;
    display: inline-block;
    cursor: pointer;
    font-style: italic;
    text-align: center;
    line-height: 1.5em;
    margin: 0 -10px;
    padding: 90px 5px 5px 2px;
    font-size: 0.8rem;
    color: #3f3f3f;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/*End web Dev.. */

/*Start seviye belirleyici cizgi*/
.cizgi{
    height: 98px;
    width: 8px;
    left: 140px;
    cursor: pointer;
    border: 0;
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    display: block;
    top: 40px;
    font-style: italic;
    font-size: 11px;
    background: url(graph_sprite.png) -25px 0px no-repeat;
}
/*End seviye belirleyici cizgi*/

/*Start Javascript info.*/
.js label{
    margin: 19px -10px;
}
.js .cizgi{
    left: 178px;
    background: url(graph_sprite.png) -75px 0px no-repeat;
}
/*End Javascript info.*/

/*Start HTML info.*/
.html .cizgi{
    left: 218px;
    background: url(graph_sprite.png) 0px 0px no-repeat;
}
/*End HTML info.*/

/*Start ASP.NET info.*/
.asp label{
    margin: 19px -20px;
}
.asp .cizgi{
    left: 258px;
    background: url(graph_sprite.png) -25px 0px no-repeat;
}
.asp .noktalar{
    position: absolute;
    left: 260px;
    bottom:65px;
    top: 130px;
}
/*End ASP.NET info.*/

/*Start sass info.*/
.sass .cizgi{
    left: 298px;
    background: url(graph_sprite.png) -75px 0px no-repeat;
}
/*End sass info.*/

.noktalar{
    position: absolute;
    left: 180px;
    bottom:65px;
    top: 130px;
}

/*Start Web Cizgisi*/
.webKismi{
    width: 200px;
    height: 18px;
    position: absolute;
    display: block;
    margin-top: 100px;
    margin-left: 120px;
    background: #ffd1f9;
}
.webKismi span{
    display: block;
    position: relative;
    font-size: smaller;
    font-weight: 100;
    box-sizing: inherit;
    color:#4a4a4a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/*End Web Cizgisi*/

/*Start Programming Cizgisi*/
.programmingkismi{
    width: 200px;
    height: 18px;
    position: absolute;
    display: block;
    margin-top: 100px;
    margin-left: 330px;
    background: #82fffc;
}
.programmingkismi span{
    display: block;
    position: relative;
    font-size: smaller;
    font-weight: 100;
    box-sizing: inherit;
    color:#4a4a4a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/*End Programming Cizgisi*/

/*Start C dili Cizgisi*/
.dilc .cizgi{
    left: 375px;
    background: url(graph_sprite.png) -75px 0px no-repeat;
}
/*End C dili Cizgisi*/

/*Start C# dili Cizgisi*/
.sharp .cizgi{
    left: 415px;
    background: url(graph_sprite.png) -50px 0px no-repeat
}
.sharp .noktalar{
    position: absolute;
    left: 417px;
    bottom:65px;
    top: 130px
}
.sharp label{margin: 19px -20px}
/*End C# Cizgisi*/

/*Start python dili Cizgisi*/
.python .cizgi{
    left: 455px;
    background: url(graph_sprite.png) -50px 0px no-repeat;
}
.python label{margin: 0px -25px 19px}
/*End python dili Cizgisi*/

/*Start Java dili Cizgisi*/
.java .cizgi{
    left: 497px;
    background: url(graph_sprite.png) -75px 0px no-repeat
}
.java .noktalar{
    position: absolute;
    left: 497px;
    bottom:65px;
    top: 130px
}
.java label{margin: 19px -20px}
/*End Java Cizgisi*/

/*Start Management Cizgisi*/
.Managementkismi{
    width: 200px;
    height: 18px;
    position: absolute;
    display: block;
    margin-top: 100px;
    margin-left: 540px;
    background: rgba(192, 255, 217, 0.82);
}
.Managementkismi span{
    display: block;
    position: relative;
    font-size: smaller;
    font-weight: 100;
    box-sizing: inherit;
    color:#4a4a4a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/*End Management Cizgisi*/

/*Start project Cizgisi*/
.prject .cizgi{
    left: 583px;
    background: url(graph_sprite.png) -50px 0px no-repeat;
}
.prject label{margin: 0px -32px 19px}
/*End project  Cizgisi*/

/*Start Peopel Cizgisi*/
.human .cizgi{
    left: 705px;
    background: url(graph_sprite.png) -25px 0px no-repeat
}
.human label{margin: 0px -32px}
/*End Peopel  Cizgisi*/


::selection{ background: #ffff00}

