html{
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 100%;
    background-color: #eef6ff;
    width: 100%;
    text-align: center;
}

h1{
    display: block;
}

/*Sabit ust kisim*/
.ust{
    border-radius : 0px 0px 22px 22px ;
    background-color: #f1fff8;
    top:-5px;
    position:fixed;
    box-sizing: inherit;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    width: 100%;
    border-bottom: 4px solid #BFFFF3;
    min-height: 3.5rem;
    z-index: 3;
    margin: 3%;
    margin-top: auto;
    margin: auto;

    -webkit-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    -moz-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    -ms-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    -o-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
}

/*uzun olan sayifa*/
.icerikSayifasi{
    position: relative;
    background-color: #eef6ff;
    margin-top: 3.5rem;
    width: 100%;
    height: 600px;
    z-index: 2;
    flex-grow:1;
    flex-shrink:0;
    padding:3rem 0rem
}

.ikinciIcerik {
    position: absolute;
    background-color: #8c5aff;
    width: 100%;
    height: 700px;

    padding:3rem 0rem;
}

/*resim ve ozet icin genel bir kutu*/
.kutu{
    height: 400px;
    width: 600px;
    background-color: #faffd9;
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.5);
    margin: auto;
    top:75px;
    right: auto;
    position: relative;
    padding: 15px;
}

/*resmim*/
.profile-pic {
    border-radius: 140px;
    position: absolute;
    margin-left: -70px;
    bottom:350px;
    -webkit-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    -moz-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    -ms-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    -o-box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;
    box-shadow : 0px 10px 6px -6px rgba(119,119,119,1) ;

}

/*Ammar a ajah yazisi*/
.yazi{
    margin-top: 80px;
    font-size: 2.75rem;
    color: #363636;
    font-weight: 300;
    line-height: 1.125;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/*mugla sitki kocman uuu yazisi*/
.mugla{
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: -1.25rem;
    margin-bottom: 1.5rem;
    line-height: 1.25;
    box-sizing: inherit;
    text-align: center;
    text-rendering: optimizeLegibility;
    color:#4a4a4a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.button, .normalMi{
    float: right;
    border-radius: 4px;
   background-color: #f4511e;

    border: none;
    color: #0a212b;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10px;
}

.normalMi:hover{
    border-bottom: 8px solid #9bffe2;

    -webkit-box-shadow : 0px 15px 6px -6px rgba(119,119,119,1) ;
    -moz-box-shadow : 0px 15px 6px -6px rgba(119,119,119,1) ;
    -ms-box-shadow : 0px 15px 6px -6px rgba(119,119,119,1) ;
    -o-box-shadow : 0px 15px 6px -6px rgba(119,119,119,1) ;
    box-shadow : 0px 15px 6px -6px rgba(119,119,119,1) ;
}

.button span , .normalMi span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.normalMi:hover span {
    padding-top: 10px;
}

.button:hover span:after , .normalMi:hover span:after {
    opacity: 1;
    right: 0;
}

/*Buttonlari bu divin icine koydunm*/
.buttonlarinDivi{

    left:500px;
    width: 500px;
    height: 100%;
    margin: auto;
    position: absolute;
}

/*Iki tane tur button var, bu ikincisi*/
.normalMi{
    background-color: #f1fff8;
}
